/* NAV SECTION */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Set the background color of the body */
}

.navbar {
    background-color: white !important; /* Set the background color of the navbar and use !important to override Bootstrap */
    color: #000 !important; /* Set the font color of the navbar */
    font-family: 'Lato', sans-serif;
}

.navbar a{
    color: #000;
}

.navbar a:hover{
    color: grey;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .navbar-nav .nav-item button{
    color: #000;
}

.navbar .navbar-nav .nav-item button:hover{
    color: grey;
}

